<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="db" connectionString="database=gymvod;server=jinsoft.cz;User Id=gymvod-user;Password=hsEYlFXv95jSSjbz1Vwg;" />
    <add name="DatabaseApp.Properties.Settings.gymvodConnectionString"
      connectionString="Data Source=jinsoft.cz;Initial Catalog=gymvod;Persist Security Info=True;User ID=gymvod-user;Password=hsEYlFXv95jSSjbz1Vwg"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>